---

- name: Create security group
  ec2_group:
    name: "{{sg}}"
    description: "A Security group"
    region: "{{region}}"
    vpc_id: "{{vpc_id}}"
    rules:
      - proto: tcp
        type: ssh
        from_port: 22
        to_port: 22
        cidr_ip: 0.0.0.0/0
    rules_egress:
      - proto: all
        type: all
        cidr_ip: 0.0.0.0/0
  register: basic_firewall

- name: create an EC2 instance
  ec2:
    key_name: "{{key_name}}"
    region: "{{region}}"
    group_id: "{{basic_firewall.group_id}}"
    instance_type: "{{instance_type}}"
    image: "{{ami_id}}"
    wait: yes
  register: basic_ec2